<h2>Book Appointment</h2>

<form method="POST" action="/book">

<input type="text" name="patient_id" placeholder="Patient ID">

<input type="text" name="doctor_id" placeholder="Doctor ID">

<input type="date" name="date">

<input type="time" name="time">

<button type="submit">Book Appointment</button>

</form>


<h2>My Appointments</h2>

<table border="1">

<tr>
<th>ID</th>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Action</th>
</tr>

{% for a in appointments %}

<tr>
<td>{{a[0]}}</td>
<td>{{a[2]}}</td>
<td>{{a[3]}}</td>
<td>{{a[4]}}</td>

<td>
<a href="/cancel/{{a[0]}}">Cancel</a>
</td>

</tr>

{% endfor %}

</table>