<!--<!DOCTYPE html>
<html>
<head>
<title>Doctor Profile</title>
</head>

<body>

<h2>Doctor Profile</h2>

{% if doctor %}
<h3>{{ doctor.name }}</h3>
<p>Specialty: {{ doctor.specialty }}</p>
<p>Experience: {{ doctor.experience }} years</p>
<p>Consultation Fee: ₹{{ doctor.fee }}</p>

<a href="/appointment/{{ doctor.id }}">Book Appointment</a>

{% else %}
<p>Doctor not found</p>
{% endif %}

</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Profile</title>
</head>

<body>

<h1>Doctor Profile</h1>

{% if doctor %}

<h2>{{ doctor.name }}</h2>

<p><b>Specialty:</b> {{ doctor.specialty }}</p>
<p><b>Experience:</b> {{ doctor.experience }} years</p>
<p><b>Consultation Fee:</b> ₹{{ doctor.fee }}</p>

{% else %}

<h3>Doctor not found</h3>

{% endif %}

</body>
</html>
