<!DOCTYPE html>
<html>
<head>

<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="auth-container">

<div class="auth-left">

<h2>Join Our Hospital Portal</h2>
<p>Book appointments easily</p>

<img src="{{ url_for('static', filename='images/doctor2.jpg') }}">

</div>





<div class="auth-right">

<h2>Patient Registration</h2>



<div class="auth-tabs">

<a href="/register">
<button class="active">New Patient</button>
</a>

<a href="/login">
<button >Existing Patient</button>
</a>
<a href="/">
    <button>Home</button>
</a>
</div>







<form method="POST" class="auth-form">

<input type="text" name="name" placeholder="Full Name" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button class="auth-btn">Register</button>

</form>

<div class="auth-link">
<a href="/login">Already have an account? <strong>Login</strong></a>
</div>

</div>

</div>

</body>
</html>